<!DOCTYPE html>
<html>
	
	<head>
		<title>LiliPad</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="node_modules/vue-material/dist/vue-material.css">
		<link rel="stylesheet" href="node_modules/vue-material/dist/theme/default.css">
	</head>
	
	<body>
		<div id='app'>
			<script type='text/javascript' src='/eel.js'></script>
			<script type='text/javascript'>
				load_table(1,'')
				load_table(2,'tab_serv')
				load_table(2,'nuevos')
				load_table(2,'existentes')
				load_table(2,'futuros')
				load_table(3,'iaas')
			async function load_table(step,table){
				switch (step) {
					case 1:
						let value = await eel.load(1, '')();
						app.actuales = value['usract'];
						app.nuevos = value['usrnew'];
						app.futuros = value['usrfutr'];
						break;
				}
					
				let value = await eel.load(step,table)();  
				// poner app.new_srv
				console.log(value)
				console.log(table)
				switch (table) {
					case 'tab_serv':
					console.log(table)
					app.tabla_servicios = value;
					break;

					case 'nuevos':
					console.log(table)
					app.serv_nuevos = value;
					break;

					case 'existentes':

					app.serv_existentes = value;
					break;

					case 'futuros':
					app.serv_futuros = value;
					break;

					case 'iaas':
					app.tabla_iaas = value;
				}
				// break;
				
			};

			async function tests(dictionary) {
				let result = await eel.tests(dictionary)();
			}

		</script>

		<div>
			<md-tabs class="md-primary" md-alignment="centered" :md-active-tab.sync="step" >
			<md-tab id="paso1" md-label="Paso 1" >
				<md-field>
					<label>Usuarios actuales</label>
					<md-input v-model="actuales" type="number"></md-input>
				</md-field>

				<md-field>
					<label>Usuarios nuevos</label>
					<md-input v-model="nuevos" type="number"></md-input>
				</md-field>

				<md-field>
					<label>Usuarios futuros</label>
					<md-input v-model="futuros" type="number"></md-input>
				</md-field>

				<md-button class="md-raised md-primary" @click="send(1,{usract:actuales,usrnew:nuevos,usrfutr:futuros,})">Guardar</md-button>
			</md-tab>

			<md-tab id="paso2" md-label="Paso 2" >
				<div>
					<md-table @md-selected="onSelect" v-model="tabla_servicios" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Servicios</h1>
							<md-button class="md-raised md-primary" @click="send(2,tabla_servicios)">Guardar</md-button>
				
							<md-button class="md-raised md-primary" @click="change('tab_serv')">Nuevo</md-button>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Servicio" md-sort-by="service" md-numeric>{{ item.service }}</md-table-cell>
							<md-table-cell md-label="Subservicio" md-sort-by="subservice">{{ item.subservice }}</md-table-cell>
							<md-table-cell md-label="Maquina Virtual" md-sort-by="vmachine">{{ item.vmachine }}</md-table-cell>
							<md-table-cell md-label="Nodo" md-sort-by="node">{{ item.node }}</md-table-cell>
						</md-table-row>
					</md-table>
				</div>
				<div>
					<md-table @md-selected="onSelect" v-model="serv_existentes" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Servicios Existentes</h1>
							<md-button class="md-raised md-primary" @click="send(2,serv_existentes)">Guardar</md-button>
							
							<md-button class="md-raised md-primary" @click="change('existentes')">Nuevo</md-button>
						</md-table-toolbar>

						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Nombre" md-sort-by="name" md-numeric>{{ item.name }}</md-table-cell>
							<md-table-cell md-label="Tipo" md-sort-by="type">{{ item.type }}</md-table-cell>
							<md-table-cell md-label="Clasificacion" md-sort-by="class">{{ item.class }}</md-table-cell>
							<md-table-cell md-label="Estructura" md-sort-by="structure">{{ item.structure }}</md-table-cell>
							<md-table-cell md-label="Criticidad" md-sort-by="int">{{ item.criticity }}</md-table-cell>
							<md-table-cell md-label="Comentarios" md-sort-by="comments">{{ item.comments }}</md-table-cell>							
						</md-table-row>
					</md-table>
				</div>
				
				<div>
					<md-table @md-selected="onSelect" v-model="serv_nuevos" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Servicios Nuevos</h1> 
							<md-button class="md-raised md-primary" @click="send(2,serv_nuevos)">Guardar</md-button>						
							<md-button class="md-raised md-primary"  @click="change('nuevos')">Nuevo</md-button>
						</md-table-toolbar>

					<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
						<md-table-cell md-label="Nombre" md-sort-by="name" md-numeric>{{ item.name }}</md-table-cell>
						<md-table-cell md-label="Tipo" md-sort-by="type">{{ item.type }}</md-table-cell>
						<md-table-cell md-label="Clasificacion" md-sort-by="class">{{ item.class }}</md-table-cell>
						<md-table-cell md-label="Estructura" md-sort-by="structure">{{ item.structure }}</md-table-cell>
						<md-table-cell md-label="Criticidad" md-sort-by="int">{{ item.criticity }}</md-table-cell>
						<md-table-cell md-label="Comentarios" md-sort-by="comments">{{ item.comments }}</md-table-cell>
					</md-table-row>

					</md-table>
				</div>
				
				<div>
					<md-table @md-selected="onSelect" v-model="serv_futuros" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Servicios Futuros</h1>
							<md-button class="md-raised md-primary" @click="send(2,serv_futuros)">Guardar</md-button>
							<md-button class="md-raised md-primary"  @click="change('futuros')">Nuevo</md-button>		
						</md-table-toolbar>

					<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
						<md-table-cell md-label="Nombre" md-sort-by="name" md-numeric>{{ item.name }}</md-table-cell>
						<md-table-cell md-label="Tipo" md-sort-by="type">{{ item.type }}</md-table-cell>
						<md-table-cell md-label="Clasificacion" md-sort-by="class">{{ item.class }}</md-table-cell>
						<md-table-cell md-label="Estructura" md-sort-by="structure">{{ item.structure }}</md-table-cell>
						<md-table-cell md-label="Criticidad" md-sort-by="int">{{ item.criticity }}</md-table-cell>
						<md-table-cell md-label="Comentarios" md-sort-by="comments">{{ item.comments }}</md-table-cell>
					</md-table-row>
					
					</md-table>
				</div>
			</md-tab>

			<md-tab id="paso3" md-label="Paso 3" @click='slection=true'>
				<div >
					<md-table @md-selected="onSelect" v-model="tabla_iaas" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Recursos asignados IaaS</h1>
							<md-button class="md-raised md-primary" @click="send(3,tabla_iaas)">Guardar</md-button>
							<md-button class="md-raised md-primary" @click="change('iaas')">Nuevo</md-button>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Subentidad" md-sort-by="subentity" md-numeric>{{ item.subentity }}</md-table-cell>
							<md-table-cell md-label="CPU [%]" md-sort-by="cpu">{{item.cpu}}</md-table-cell>
							<md-table-cell md-label="RAM [MB]" md-sort-by="ram">{{item.ram}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="Capacidad [GB]" md-sort-by="capacity">{{item.capacity}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'md-label="Throughput [Mbps]"md-sort-by="throughput">{{item.throughput}}</md-table-cell>
							<md-table-cell style='background-color:silver' md-label="Tx [Mbps]" md-sort-by="transmission">{{item.transmission}}</md-table-cell>
							<md-table-cell style='background-color:silver' md-label="Rx [Mbps]" md-sort-by="reception">{{item.reception}}</md-table-cell>
							<md-table-cell style='background-color:red'md-label="Nucleos [%]" md-sort-by="gpucore">{{item.gpucore}}</md-table-cell>
							<md-table-cell style='background-color:red'md-label="Memoria [MB]" md-sort-by="gpumem">{{item.gpumem}}</md-table-cell>
						
						</md-table-row>
						<h3> Codigo de colores:
							<span style='color:slategrey'><br> --Almacenamiento </span>
							<span style='color:silver'> <br> --Red </span>
							<span style='color:red'><br> --GPU </span>
						</h3>
						
					</md-table>
				</div>
				<div>
					<md-table @md-selected="onSelect" v-model="tabla_dsaas" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Recursos asignados a DSaaS</h1>
							<md-button class="md-raised md-primary" @click="send(3,tabla_dsaas)">Guardar</md-button>
							<md-button class="md-raised md-primary" @click="change('dsaas')">Nuevo</md-button>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Subentidad" md-sort-by="subentity" md-numeric>{{ item.subentity }}</md-table-cell>
							<md-table-cell md-label="CPU [%]" md-sort-by="cpu">{{item.cpu}}</md-table-cell>
							<md-table-cell md-label="RAM [MB]" md-sort-by="ram">{{item.ram}}</md-table-cell>
							<md-table-cell style='background-color:slategrey' md-label="Capacidad [GB]" md-sort-by="capacity">{{item.capacity}}</md-table-cell>
							<md-table-cell style='background-color:slategrey' md-label="Throughput [Mbps]" md-sort-by="throughput">{{item.throughput}}</md-table-cell>
							<md-table-cell style='background-color:silver' md-label="Tx [Mbps]" md-sort-by="transmission">{{item.transmission}}</md-table-cell>
							<md-table-cell style='background-color:silver' md-label="Rx [Mbps]" md-sort-by="reception">{{item.reception}}</md-table-cell>
							<md-table-cell style='background-color:red' md-label="Nucleos [%]" md-sort-by="gpucore">{{item.gpucore}}</md-table-cell>
							<md-table-cell style='background-color:red' md-label="Memoria [MB]" md-sort-by="gpumem">{{item.gpumem}}</md-table-cell>
				
						</md-table-row>
						<h3> Codigo de colores:
							<span style='color:slategrey'>
								<br> -Almacenamiento </span>
							<span style='color:silver'>
								<br> -Red </span>
							<span style='color:red'>
								<br> -GPU </span>
						</h3>
				
					</md-table>
				</div>
				
			</md-tab>

			<md-tab id="paso4" md-label="Paso 4" >
				<h3>Escoja cual de las pruebas desea realizar</h3>
					<md-button class="md-primary" @click="step_4=true,step_4_sel='correo'">Correo</md-button>
					<md-button class="md-primary" @click="step_4=true,step_4_sel='navegacion'">Navegacion</md-button>

			</md-tab>

			<md-tab id="paso5" md-label="Paso 5" >
				<md-field>
					<label>Nombre del Servicio</label>
					<md-input v-model="step5_srvname" required></md-input>
				</md-field>

				<md-field>
					<label>Usuario de la base de datos</label>
					<md-input v-model="step5_usr" required></md-input>
				</md-field>

				<md-field>
					<label>Password de la base de datos</label>
					<md-input v-model="step5_pass" required></md-input>
				</md-field>
				<md-field>
					<label>Hostname (IP) de la base de datos</label>
					<md-input v-model="step5_ip" required></md-input>
				</md-field>

				<md-field>
						<label>Fecha inicial</label>
						<md-input v-model="step5_start" required></md-input>
					</md-field>

				<md-field>
						<label>Fecha final</label>
						<md-input v-model="step5_end" required></md-input>
					</md-field>

				<md-button class="md-primary" @click="send(5,{'service':step5_srvname,'user':step5_usr,'password':step5_pass,'ip':step5_ip,'start_time':step5_start,'end_time':step5_end})">Enviar</md-button>
			</md-tab>
			<md-tab id="paso6" md-label="Paso 6" >
				<div >
					<md-table @md-selected="onSelect" v-model="tab_ut_serv" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Utilizacion de Servicios</h1>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Servicio" md-sort-by="service">{{ item.service }}</md-table-cell>
							<md-table-cell md-label="Subservicio" md-sort-by="subservice">{{item.subservice}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="Asignado (vCPU)" md-sort-by="cpu_asigned">{{item.cpu_asigned}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="U-prom" md-sort-by="cpu_uprom">{{item.cpu_uprom}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'md-label="U-max"md-sort-by="cpu_umax">{{item.cpu_umax}}</md-table-cell>
							<md-table-cell  style='background-color:silver'  md-label="Asignado" md-sort-by="ram_asigned">{{item.ram_asigned}}</md-table-cell>
							<md-table-cell  style='background-color:silver'  md-label="U-prom" md-sort-by="ram_uprom">{{item.ram_uprom}}</md-table-cell>
							<md-table-cell  style='background-color:silver'md-label="U-max"md-sort-by="ram_umax">{{item.ram_umax}}</md-table-cell>
							
						</md-table-row>
						<h3> Codigo de colores:
							<span style='color:slategrey'><br> -- CPU </span>
							<span style='color:silver'> <br> -- RAM </span>
						</h3>
						
					</md-table>
				</div>
				<div >
					<md-table @md-selected="onSelect" v-model="tab_ut_serv_alm_cap" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Almacenamiento:Capacidad</h1>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Servicio" md-sort-by="service">{{ item.service }}</md-table-cell>
							<md-table-cell md-label="Subservicio" md-sort-by="subservice">{{item.subservice}}</md-table-cell>
							<md-table-cell md-label="Asignado" md-sort-by="asigned">{{item.asigned}}</md-table-cell>
							<md-table-cell md-label="Uso" md-sort-by="use">{{item.use}}</md-table-cell>
							
						</md-table-row>
					</md-table>
				</div>
				<h1>Almacenamiento:Throughput</h1>
				<br>
				<div >
					<md-table @md-selected="onSelect" v-model="tab_ut_serv_alm_iops" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">IOPS</h1>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Servicio" md-sort-by="service">{{ item.service }}</md-table-cell>
							<md-table-cell md-label="Subservicio" md-sort-by="subservice">{{item.subservice}}</md-table-cell>
							<md-table-cell md-label="Asignado" md-sort-by="asigned">{{item.asigned}}</md-table-cell>
							<md-table-cell md-label="U-prom" md-sort-by="uprom">{{item.uprom}}</md-table-cell>
							<md-table-cell md-label="U-max"md-sort-by="umax">{{item.umax}}</md-table-cell>
							
						</md-table-row>
						
					</md-table>
				</div>
				<div >
					<md-table @md-selected="onSelect" v-model="tab_ut_serv_alm_through" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Throughput</h1>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Servicio" md-sort-by="subentity">{{ item.subentity }}</md-table-cell>
							<md-table-cell md-label="Subservicio" md-sort-by="cpu">{{item.cpu}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="Lectura" md-sort-by="uprom_r">{{item.uprom_r}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="Escritura" md-sort-by="uprom_w">{{item.uprom_w}}</md-table-cell>
							<md-table-cell  style='background-color:silver'  md-label="Lectura" md-sort-by="umax_r">{{item.umax_r}}</md-table-cell>
							<md-table-cell  style='background-color:silver'  md-label="Escritura" md-sort-by="umax_w">{{item.umax_w}}</md-table-cell>
							
						</md-table-row>
						<h3> Codigo de colores:
							<span style='color:slategrey'><br> -- U-prom</span>
							<span style='color:silver'> <br> -- U-max </span>
						</h3>
						
					</md-table>
				</div>
				<div >
					<md-table @md-selected="onSelect" v-model="tab_ut_serv_net" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">Red</h1>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Servicio" md-sort-by="service">{{ item.service }}</md-table-cell>
							<md-table-cell md-label="Subservicio" md-sort-by="subservice">{{item.subservice}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="Asignado" md-sort-by="tx_asigned">{{item.tx_asigned}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="U-prom" md-sort-by="tx_uprom">{{item.tx_uprom}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'md-label="U-max"md-sort-by="tx_umax">{{item.tx_umax}}</md-table-cell>
							<md-table-cell  style='background-color:silver'  md-label="Asignado" md-sort-by="rx_asigned">{{item.rx_asigned}}</md-table-cell>
							<md-table-cell  style='background-color:silver'  md-label="U-prom" md-sort-by="rx_uprom">{{item.rx_uprom}}</md-table-cell>
							<md-table-cell  style='background-color:silver'md-label="U-max"md-sort-by="rx_umax">{{item.rx_umax}}</md-table-cell>
							
						</md-table-row>
						<h3> Codigo de colores:
							<span style='color:slategrey'><br> -- TX </span>
							<span style='color:silver'> <br> -- RX </span>
						</h3>
						
					</md-table>
				</div>
				<div >
					<md-table @md-selected="onSelect" v-model="tab_ut_serv_gpu" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
						<md-table-toolbar>
							<h1 class="md-title">GPU</h1>
						</md-table-toolbar>
				
						<md-table-row md-selectable="multiple" md-auto-select slot="md-table-row" slot-scope="{ item }">
							<md-table-cell md-label="Servicio" md-sort-by="service">{{ item.service }}</md-table-cell>
							<md-table-cell md-label="Subservicio" md-sort-by="subservice">{{item.subservice}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="Asignado" md-sort-by="gpu_core_asigned">{{item.gpu_core_asigned}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'  md-label="U-prom" md-sort-by="gpu_core_uprom">{{item.gpu_core_uprom}}</md-table-cell>
							<md-table-cell  style='background-color:slategrey'md-label="U-max"md-sort-by="gpu_core_umax">{{item.gpu_core_umax}}</md-table-cell>
							<md-table-cell  style='background-color:silver'  md-label="Asignado" md-sort-by="gpu_ram_asigned">{{item.gpu_ram_asigned}}</md-table-cell>
							<md-table-cell  style='background-color:silver'  md-label="U-prom" md-sort-by="gpu_ram_uprom">{{item.gpu_ram_uprom}}</md-table-cell>
							<md-table-cell  style='background-color:silver'md-label="U-max"md-sort-by="gpu_ram_umax">{{item.gpu_ram_umax}}</md-table-cell>
							
						</md-table-row>
						<h3> Codigo de colores:
							<span style='color:slategrey'><br> -- Nucleos </span>
							<span style='color:silver'> <br> -- Memoria </span>
						</h3>
						
					</md-table>
				</div>
			</md-tab>
			<md-tab id="paso7" md-label="Paso 7" >
				
			</md-tab>
			<md-tab id="paso8" md-label="Paso 8" >
				
			</md-tab>
			<md-tab id="paso9" md-label="Paso 9" >
				
			</md-tab>

		</md-tabs>

		<script src="node_modules/vue/dist/vue.min.js"></script>
		<script src="node_modules/vue-material/dist/vue-material.js"></script>

		
		<md-dialog :md-active.sync="add_srv" :md-click-outside-to-close="false">
			<md-dialog-content>
			<div v-if="new_srv =='nuevos' || new_srv=='existentes' ||  new_srv == 'futuros'">
			<md-tabs md-dynamic-height class="md-primary">
				<md-tab md-label="Nuevo Servicio">
					<md-field>
						<label>Nombre</label>
						<md-input v-model="srv_name" required></md-input>
					</md-field>

					<md-field>
						<label>Tipo</label>
						<md-input v-model="srv_type" required></md-input>
					</md-field>

					<select v-model="srv_class" >
						<option disabled value="">Clasificacion</option>
						<option value="Usuario">Usuario</option>
						<option value="Soporte">Soporte</option>
					</select>

					<select v-model="srv_structure" >
						<option disabled value="">Estructura</option>
						<option value="Single Tier">Single Tier</option>
						<option value="Multi Tier">Multi Tier</option>
					</select>

					<select v-model="srv_criticity" >
						<option disabled value="">Criticidad</option>
						<option  value="Baja">Baja</option>
						<option  value="Media">Media</option>
						<option  value="Alta">Alta</option>
					</select>

					<md-field>
						<label>Comentarios</label>
						<md-input v-model="srv_comments" required></md-input>
					</md-field>

				</md-tab>
			</md-tabs>

			<md-dialog-actions>
				<md-button class="md-primary" @click="new_service(new_srv,{'name':srv_name,'type':srv_type,'class':srv_class,'structure':srv_structure,'criticity':srv_criticity,'comments':srv_comments,'int':srv_criticity[0]})">Crear</md-button>
			</md-dialog-actions>
			
			
		</div>
		<div v-if="new_srv == 'tab_serv'">
			<md-tabs md-dynamic-height class="md-primary">
				<md-tab md-label="Agregar a tabla de servicios">
					<md-field>
						<label>Servicio</label>
						<md-input v-model="tab_service" required></md-input>
					</md-field>
		
					<md-field>
						<label>Subservicio</label>
						<md-input v-model="tab_subservice" required></md-input>
					</md-field>
		
					<md-field>
						<label>Maquina Virtual</label>
						<md-input v-model="tab_vm" required></md-input>
					</md-field>
					
					<md-field>
						<label>Nodo</label>
						<md-input v-model="tab_node" required></md-input>
					</md-field>
				</md-tab>
			</md-tabs>
		
			<md-dialog-actions>
				<md-button class="md-primary" @click="new_service(new_srv,{'service':tab_service,'subservice':tab_subservice,'vmachine':tab_vm,'node':tab_node})">Crear</md-button>
			</md-dialog-actions>
		
		</div>
		<div v-if="new_srv == 'iaas'">
			<md-tabs md-dynamic-height class="md-primary">
				<md-tab md-label="Agregar recurso IaaS">
					<md-field>
						<label>Subentidad</label>
						<md-input v-model="iaas_subentity" required></md-input>
					</md-field>
		
					<md-field>
						<label>CPU (%)</label>
						<md-input v-model="iaas_cpu" required></md-input>
					</md-field>
		
					<md-field>
						<label>RAM (MB)</label>
						<md-input v-model="iaas_ram" required></md-input>
					</md-field>
					
					<md-field>
						<label>Capacidad (Almacenamiento)</label>
						<md-input v-model="iaas_cap_alm" required></md-input>
					</md-field>

					<md-field>
						<label>Throughput (Almacenamiento)</label>
						<md-input v-model="iaas_thru_alm" required></md-input>
					</md-field>

					<md-field>
						<label>Transmision (Red)</label>
						<md-input v-model="iaas_trans_net" required></md-input>
					</md-field>

					<md-field>
						<label>Recepcion (Red)</label>
						<md-input v-model="iaas_rec_net" required></md-input>
					</md-field>

					<md-field>
						<label>Nucleos (GPU)</label>
						<md-input v-model="iaas_core_gpu" required></md-input>
					</md-field>

					<md-field>
						<label>Memoria (GPU)</label>
						<md-input v-model="iaas_mem_gpu" required></md-input>
					</md-field>
				</md-tab>
			</md-tabs>
		
			<md-dialog-actions>
				<md-button class="md-primary" @click="new_service(new_srv,{'subentity':iaas_subentity,'cpu':iaas_cpu,'ram':iaas_ram,'cap_alm':iaas_cap_alm,'thru_alm':iaas_thru_alm,'trans_net':iaas_trans_net,'rec_net':iaas_rec_net,'core_gpu':iaas_core_gpu,'mem_gpu':iaas_mem_gpu})">Crear</md-button>
			</md-dialog-actions>
		</div>
		
				<md-dialog-actions>
					<md-button class="md-primary" @click="add_srv=false,srv_class='',srv_comments=null,srv_criticity='',srv_name=null,srv_structure='',srv_type=null,tab_service='',tab_subservice='',tab_vm='',tab_node=''">Cerrar</md-button>
				</md-dialog-actions>
		</md-dialog-content>
		</md-dialog>

<md-dialog :md-active.sync="step_4" :md-click-outside-to-close="false" style="width:50%">
	 <div v-if="step_4_sel != 'navegacion'">
		<md-tabs md-dynamic-height class="md-primary">
			<md-tab md-label="Correo">
				<md-field>
					<label>Ruta del archivo log</label>
					<md-input v-model="ruta_mail" required></md-input>
				</md-field>

				<md-field>
					<label>Fecha (en la forma DDMMYYYY)</label>
					<md-input v-model="date_mail" required></md-input>
				</md-field>

				
			</md-tab>
		</md-tabs>

		<md-dialog-actions>
			<md-button class="md-primary" @click="tests({'servicio':'correo','ruta':ruta_mail,'fecha':date_mail})">Correo</md-button>
		</md-dialog-actions>


	</div> 
	<div v-if="step_4_sel == 'navegacion'">
		<md-tabs md-dynamic-height class="md-primary">
			<md-tab md-label="Agregar a tabla de servicios">
				<md-field>
					<label>Ruta</label>
					<md-input v-model="ruta_nav" required></md-input>
				</md-field>

				<md-field>
					<label>Lista de usuarios (separados por coma)</label>
					<md-input placeholder='separados por coma' v-model="usr_list" required></md-input>
				</md-field>

				<md-field>
					<label>Fecha limite inferior (DDMMYYYY)</label>
					<md-input v-model="date_nav_inf" required></md-input>
				</md-field>

				<md-field>
					<label>Fecha limite superior (DDMMYYYY)</label>
					<md-input v-model="date_nav_sup" required></md-input>
				</md-field>
			</md-tab>
		</md-tabs> 

		 <md-dialog-actions>
			<md-button class="md-primary" @click="tests({'servicio':'navegacion','ruta':ruta_nav,'users_list':usr_list,'start_time':date_nav_inf,'end_time':date_nav_sup})">Navegacion</md-button>
		</md-dialog-actions>

	</div>
	<md-dialog-actions>
		<md-button class="md-primary" @click="step_4=false,step_4_sel='',ruta_mail='',ruta_nav='',usr_list='',date_mail='',date_nav_inf='',date_nav_sup=''">Cerrar</md-button>
	</md-dialog-actions>
</md-dialog>

		<script>Vue.use(VueMaterial.default)

		const app = new Vue({
			el: "#app",
			data: {
				ruta_mail:'',
				date_mail:'',
				step_4:false,
				step_4_sel:'',
				selection:false,
				selected:[],
				iaas:false,
				dsaas:false,
				new_srv:'',
				add_srv:false,
				step:'paso1',
				actuales:'',
				nuevos:'',
				futuros:'',
				srv_name:'',
				srv_type:'',
				srv_class:'',
				srv_structure:'',
				srv_criticity:'',
				srv_comments:'',
				tab_service:'',
				tab_subservice:'',
				tab_vm:'',
				tab_node:'',
				iaas_subentity:'',
				iaas_cpu:'',
				iaas_ram:'',
				iaas_cap_alm:'',
				iaas_thru_alm:'',
				iaas_trans_net:'',
				iaas_rec_net:'',
				iaas_core_gpu:'',
				iaas_mem_gpu:'',
				ruta_nav:'',
				usr_list:'',
				date_nav_inf:'',
				date_nav_sup:'',
				step5_srvname:'',
				step5_usr:'',
				step5_pass:'',
				step5_ip:'',
				step5_start:'',
				step5_end:'',
				tab_ut_serv:[{'service':'loren','subservice':'loren','cpu_asigned':'loren','cpu_uprom':'loren','cpu_umax':'loren','ram_asigned':'loren','ram_uprom':'loren','ram_umax':'loren'},{'service':'loren','subservice':'loren','cpu_asigned':'loren','cpu_uprom':'loren','cpu_umax':'loren','ram_asigned':'loren','ram_uprom':'loren','ram_umax':'loren'}],
				tab_ut_serv_alm_cap:[{'service':'loren','subservice':'loren','asigned':'loren','use':'loren'},{'service':'loren','subservice':'loren','asigned':'loren','use':'loren'}],
				tab_ut_serv_alm_iops:[{'service':'loren','subservice':'loren','asigned':'loren','uprom':'loren','umax':'loren'},{'service':'loren','subservice':'loren','asigned':'loren','uprom':'loren','umax':'loren'}],
				tab_ut_serv_alm_through:[{'subentity':'loren','cpu':'loren','uprom_r':'loren','uprom_w':'loren','umax_r':'loren','umax_w':'loren'},{'subentity':'loren','cpu':'loren','uprom_r':'loren','uprom_w':'loren','umax_r':'loren','umax_w':'loren'}],
				tab_ut_serv_net:[{'service':'loren','subservice':'loren','tx_asigned':'loren','tx_uprom':'loren','tx_umax':'loren','rx_asigned':'loren','rx_uprom':'loren','rx_umax':'loren'},{'service':'loren','subservice':'loren','tx_asigned':'loren','tx_uprom':'loren','tx_umax':'loren','rx_asigned':'loren','rx_uprom':'loren','rx_umax':'loren'}],
				tab_ut_serv_gpu:[{'service':'loren','subservice':'loren','gpu_core_asigned':'loren','gpu_core_uprom':'loren','gpu_core_umax':'loren','gpu_ram_asigned':'loren','gpu_ram_uprom':'loren','gpu_ram_umax':'loren'},{'service':'loren','subservice':'loren','gpu_core_asigned':'loren','gpu_core_uprom':'loren','gpu_core_umax':'loren','gpu_ram_asigned':'loren','gpu_ram_uprom':'loren','gpu_ram_umax':'loren'}],


				tabla_servicios:[
					
				],
				serv_existentes: [
					
				],

				serv_nuevos: [
					
				],
				serv_futuros: [
					
				],
				tabla_dsaas: [

				],
				tabla_iaas: [
					
				],

			},

			computed: {

			},
			methods: {
				send(paso,dict){
					// console.log(paso)
					// console.log(app.new_srv)
					// console.log(dict)
					
					let result = eel.handler(paso,app.new_srv,dict)()
					console.log(result)
					if (paso == 1) {
						paso = paso + 1
						app.step = "paso" + paso
						console.log(app.step)
					}
				},
				change(serv){
					app.add_srv=true
					app.new_srv=serv
				},

				new_service(service,dict){
					console.log(app.new_srv)
					console.log(dict)
					switch (service){
						case 'existentes':
							app.serv_existentes.push(dict);
							break;
						
						case 'nuevos':
							app.serv_nuevos.push(dict);
							break;
						
						case 'futuros':
							app.serv_futuros.push(dict);
							break;
							
						case 'tab_serv':
							app.tabla_servicios.push(dict)
							break;

						case 'iaas':
							app.tabla_iaas.push(dict)
							break;

					}
					console.log(app.serv_existentes)
					app.srv_name= '',
					app.srv_type= '',
					app.srv_class= '',
					app.srv_structure= '',
					app.srv_criticity= '',
					app.srv_comments= '',
					app.tab_service='',
					app.tab_subservice='',
					app.tab_vm='',
					app.tab_node=''

				},
				onSelect(items) {
					this.selected = items
				},

				

				
			}
		})
		</script>
	</div>



</body>            