<!DOCTYPE html>
<html>

<head>
    <title>LiliPad</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="node_modules/vue-material/dist/vue-material.css">
    <link rel="stylesheet" href="node_modules/vue-material/dist/theme/default.css">
</head>

<body>

    <div id='app'>
        <script type='text/javascript' src='/eel.js'></script>
        <script type='text/javascript'>


        </script>

       
<div>
    <md-checkbox v-model="array" value="1">Array</md-checkbox>
    <md-checkbox v-model="array" value="2">Array</md-checkbox>
    <md-checkbox v-model="boolean">Boolean</md-checkbox>
    <md-checkbox v-model="string" value="my-checkbox">String</md-checkbox>
    <md-checkbox v-model="novalue">No Value</md-checkbox>
    <md-checkbox v-model="disabled" disabled>Disabled</md-checkbox>
    <md-checkbox v-model="obj" :value="obj1">Object 1</md-checkbox>
    <md-checkbox v-model="obj" :value="obj2">Object 2</md-checkbox>

    <md-checkbox v-model="indeterminate" indeterminate>Indeterminate</md-checkbox>

    <table>
        <tr>
            <th>Array</th>
            <th>Boolean</th>
            <th>String</th>
            <th>No Value</th>
            <th>Object</th>
        </tr>

        <tr>
            <td>{{ array }}</td>
            <td>{{ boolean }}</td>
            <td>{{ string }}</td>
            <td>{{ novalue }}</td>
            <td>{{ obj }}</td>
        </tr>
    </table>
</div>

            <script src="node_modules/vue/dist/vue.min.js"></script>
            <script src="node_modules/vue-material/dist/vue-material.js"></script>

            <script>
                Vue.use(VueMaterial.default)

                const app = new Vue({
                    el: "#app",
                    data: {
                        step: 'paso1',
                        actuales: '',
                        nuevos: '',
                        futuros: '',
                              users: [
                            {
                                id: 1,
                                name: 'Shawna Dubbin',
                                email: 'sdubbin0@geocities.com',
                                gender: 'Male',
                                title: 'Assistant Media Planner'
                            },
                            {
                                id: 2,
                                name: 'Odette Demageard',
                                email: 'odemageard1@spotify.com',
                                gender: 'Female',
                                title: 'Account Coordinator'
                            },
                            {
                                id: 3,
                                name: 'Lonnie Izkovitz',
                                email: 'lizkovitz3@youtu.be',
                                gender: 'Female',
                                title: 'Operator'
                            },
                            {
                                id: 4,
                                name: 'Thatcher Stave',
                                email: 'tstave4@reference.com',
                                gender: 'Male',
                                title: 'Software Test Engineer III'
                            },
                            {
                                id: 5,
                                name: 'Clarinda Marieton',
                                email: 'cmarietonh@theatlantic.com',
                                gender: 'Female',
                                title: 'Paralegal'
                            },
                            
                            
                        ],
                              array: [],
                        boolean: false,
                        string: null,
                        novalue: null,
                        disabled: true,
                        obj1: { name: 'obj1' },
                        obj2: { name: 'obj2' },
                        obj: null,
                        indeterminate: true


                    },
                    computed: {

                    },
                    methods: {
                        send(paso, dict) {
                            console.log(paso)
                            console.log(dict)
                            paso = paso + 1
                            app.step = "paso" + paso

                        }
                    }
                })
            </script>
        </div>



</body>